.env
.venv/
__pycache__/
*.pyc
*.pyo
*.log
logs/
data/*
!data/.gitkeep
!data/**/.gitkeep
ComfyUI/.git/
ComfyUI/models/
ComfyUI/user/
ComfyUI/output/
ComfyUI/input/
ComfyUI/temp/
ComfyUI/__pycache__/
ComfyUI/**/*.pyc
ComfyUI/custom_nodes/**/__pycache__/
densepose_/
=0.2.12
!data/input/.gitkeep
!data/output/.gitkeep
!data/comfy-input/.gitkeep
!data/comfy-output/.gitkeep
